body{
    background-image: url(kepek/dark-background-abstract-background-network-3d-background-3840x2160-8324.png);
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif ;
    max-width: 1000px;
 
}

.tarolo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}


img { 
    width: 100%; 
    border: 10px solid rgb(50, 48, 48); 
    border-radius: 15%; 
    padding: 10px; 
}

a{
   text-align: center; 
   color: rgb(206, 196, 196);
   text-decoration: none;
   padding: 10px;
   border: 10px solid gray;
   border-radius: 25%;
   background-color: rgb(50, 48, 48);
}

h1{
    text-align: center; 
    font-size: 50px;
    letter-spacing: 30px; 
    text-transform: uppercase; 
    padding: 20px;
}

h2{
  padding: 20px;
  margin-top: 10px; 
  margin-bottom: 10px; 
  background-color: #333; 
  border-radius: 5%;
}

p{
   text-align: justify;
   font-size: 15px;
   font-family: Rockwell; 
}






@media screen and (max-width: 600px) {
    .jatekok{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
