body{
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif ;
    max-width: 1000px;
    justify-content: center;
}

jatekok{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

@media screen and (max-width: 600 px) {
    jatekok{
        grid-template-columns: 1fr;
    }
}